@use "./styles/colors";

.app {
  background-color: colors.$shade-1;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:link,
a:visited {
  color: colors.$theme;
}
a:hover {
  color: colors.$body;
}
