@use "./styles/colors";

.app {
  background-color: colors.$shade-1;
}

h1 {
  font-family: "Roboto";
  font-size: 48px;
  color: colors.$theme;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  color: colors.$body;
  line-height: 2rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
