@use "../styles/colors";
@use "../components/NavigationBar.scss";

.grid {
  height: 100vh - NavigationBar.$navbar-vh;
}

.username-box {
  background-color: colors.$white-yellow;
  border-radius: 10px;
}

.username-box p {
  width: 80%;
}

.username-box img {
  height: 4vh;
}
