@use "../styles/colors";
@import "../components/LoadingAnimation.scss";

.profile-logo {
  object-fit: cover;
  border-radius: 50%;
  width: clamp(100px, 30vw, 20vh);
  height: clamp(100px, 30vw, 20vh);
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 30vh;
}

.bar-container {
  position: relative;
  height: 30px;
  width: 300px;
  padding: 10px 0px;
}

.data-list {
  height: 50px;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-list p {
  margin: 0;
}

.screenshot-div {
  background-color: colors.$shade-1;
}

.screenshot-img {
  width: clamp(0px, 80%, 600px);
}

.dialog-container {
  background-color: colors.$white-yellow;
}

.screenshot-divider {
  width: 60%;
}
