.profile-logo {
  object-fit: cover;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 30vh;
}

.bar-container {
  position: relative;
  height: 30px;
  width: 300px;
  padding: 10px 0px;
}

.data-list {
  height: 50px;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-list p {
  margin: 0;
}
