@use "../styles/colors";
@use "../components/NavigationBar.scss";
@use "./ComparePage.scss";

.grid {
  @extend .grid;
}

.paper {
  @extend .username-box;
}

.divider {
  width: 60%;
}

.link {
  margin-top: 10px;
  width: 100%;
  a {
    color: colors.$theme;
  }
}
