@use "../styles/colors";

$min-navbar-height: 50px;
$max-navbar-height: 100px;
$navbar-vh: 8vh;

.navigation-box {
  min-height: $navbar-vh;
}

.navigation-bar {
  height: clamp($min-navbar-height, $navbar-vh, $max-navbar-height);
  background-color: colors.$shade-1;
}

.logo {
  height: clamp($min-navbar-height - 20px, 5vh, $max-navbar-height - 20px);
}

.navbar-link {
  color: colors.$body;
}
.navbar-link:hover {
  color: colors.$theme;
}
