@use "./styles/colors";

.app {
  background-color: colors.$shade-1;
}

h1 {
  font-family: "Roboto";
  font-size: clamp(36px, 4vw, 48px);
  color: colors.$theme;
}

h2 {
  font-family: "Roboto";
  font-size: clamp(24px, 4vw, 32px);
  color: colors.$theme;
}

h3 {
  font-family: "Roboto";
  font-size: clamp(20px, 4vw, 24px);
  color: colors.$theme;
}

h4 {
  font-family: "Roboto";
  font-size: clamp(18px, 4vw, 20px);
}

h5 {
  font-family: "Roboto";
  font-size: 18px;
}

p {
  font-family: "Roboto";
  font-size: clamp(14px, 4vw, 18px);
  color: colors.$body;
  line-height: 2rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
